@use "@/styles/styles";

.wrapper {
  position: relative;
  display: inline-block;
  h4{
    text-align: center;
    margin-bottom: 20px;
  }
  :focus {
    outline: none;
  }
  select {
    appearance: none;
    padding: 8px 16px;
    border: 2px solid styles.$secBg;
    border-radius: 4px;
    width: 100%;
    transition: color 0.1s;
    background: styles.$secBg;
    box-shadow: styles.$windowShadow;
    width: 250px;
    cursor: pointer;
    option{
      width: 210px;
      @include styles.fontMain;
      font-size: 18px;
      border-bottom: 1px solid styles.$lineColor;
      padding: 5px 0px;
      &:hover {
        background-color: styles.$optionHover;
      }
      &:checked {
        color: styles.$txtWhite;
        background-color: styles.$selected;
      }
    }
    @include styles.scroll;
  }
}
