@import "@/styles/styles";

.wrapper {
  position: relative;
  display: inline-block;
  h4{
    text-align: center;
    margin-bottom: 20px;
  }
  :focus {
    outline: none;
  }
  select {
    appearance: none;
    padding: 8px 16px;
    border: 2px solid $secBg;
    border-radius: 4px;
    width: 100%;
    transition: color 0.1s;
    background: $secBg;
    box-shadow: $windowShadow;
    width: 250px;
    cursor: pointer;
    option{
      width: 210px;
      @include font1;
      font-size: 18px;
      border-bottom: 1px solid $lineColor;
      padding: 5px 0px;
      &:hover {
        background-color: $optionHover;
      }
      &:checked {
        color: #fff;
        background-color: $selected;
      }
    }
    @include scroll;
  }
}
