@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body{
  font-family: 'Inter', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}
h4{
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0.5px;
  font-size: 20px;
  text-align: center;
}
.wrapper{
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
