@use "@/styles/styles"; 

.main{
  background-color: styles.$bg;
  .container{
    min-height: styles.$mainHeight;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    color: styles.$txtWhite;
    display: flex;
    justify-content: center;
    width: 100%;
    @include styles.container(1240px)
  }  
}
@media (max-width: 1300px) {
  .container{
    @include styles.container(1024px);
  }
}
