@import "@/styles/styles"; 

.main{
  background-color: $bg;
  .container{
    min-height: $mainHeight;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    color: $txtWhite;
    display: flex;
    justify-content: center;
    width: 100%;
    @include container(1240px)
  }  
}
@media (max-width: 1300px) {
  .container{
    @include container(1024px);
  }
}
