@use "@/styles/styles" ;

.CurrenciesWrapper{
  max-height: calc(styles.$mainHeight - 50px);
  overflow: auto;
  max-width: 500px;
  @include styles.fontMain;
  table {
    border-collapse: collapse;
    tr:nth-child(2n+1){
      background-color: styles.$secBg; 
    }
  }
  th,
  td {
    border: none;
    padding: 8px 15px;
  }
  @include styles.scroll;
}
