@import "@/styles/styles" ;

.CurrenciesWrapper{
  max-height: calc($mainHeight - 50px);
  overflow: auto;
  @include font1;
  table {
    border-collapse: collapse;
    tr:nth-child(2n+1){
      background-color: $secBg; 
    }
  }
  th,
  td {
    border: none;
    padding: 8px 15px;
  }
  @include scroll;
}
