@use "@/styles/styles" ;

.selectWrapper {
  max-width: 100%;
  min-width: 250px;
  .select{
    @include styles.fontMain;
    background: styles.$secBg;
    margin-top: 20px;
    padding: 8px 16px;
    border-radius: 4px;
    width: 100%;
    cursor: pointer;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: 10px;
      transform: translateY(-50%);
      width: 0px;
      height: 0px;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-top: 6px solid styles.$thumbColorHover;
      pointer-events: none;
    }
    .options {
      width: 100%;
      position: absolute;
      top: 100%;
      left: 0;
      overflow-y: auto;
      background-color: styles.$secBg;
      border-radius: 4px;
      box-shadow: styles.$windowShadow;
      z-index: 1;
      padding: 0;
      margin-top: 4px;
      font-size: 16px;
      @include styles.scroll;
      li {
        padding: 8px 16px;
        cursor: pointer;
        transition: background-color 0.2s;
        border-bottom: 1px solid styles.$lineColor;
        &:hover{
          background: styles.$optionHover;
        }
      }
      .active{
        background: styles.$thumbColorHover;
      }
    }
    .withHeight{
      max-height: 200px;
    }
    .withoutHeight{
      max-height: 0px;
    }
  }

  .open {
    &::after {
      transform: translateY(-50%) rotate(180deg);
    }
    .options{
      animation: slideDown 0.3s ease forwards;
    };
  }
  .closed {
    .options{
      animation: slideDownReverse 0.3s ease forwards;
    }
  }
}

@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideDownReverse {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-10px);
    height: 0px;
  }
}
